.menu{
    background-color: yellow;
    text-align: center;
    position: fixed;
    width: 100%;
    left: -100%;
    transition: 0.5s;
}

.menu ul li{
    list-style: none;
    padding: 10px 0px;
}

.micon{
    position: absolute;
    right: 10px;
    font-size: 20px;
    z-index: 1000;
}

.acticeItem{
    left: 0%;
}